.greeting-bg {
  background: url('/assets/img/main-bg.png') no-repeat center center;
  background-size: cover;
  min-height: 100vh;

  body {
    background: transparent;
  }
}

.greeting-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
  flex-direction: column;
  position: relative;
}

.greeting-authorise-ctn {
  position: absolute;
  top: 25px;
  right: 0;
}

.greeting-block {
  width: 380px;
  text-align: center;
  background: rgba(#1c1f29, 0.5);
}

.greeting-block__content {
  box-sizing: border-box;
  padding: 35px 65px;
}

.greeting-nav {
  display: flex;

  .btn:nth-of-type(2) {
    border-right: 2px solid rgba(#dee3e7, 0.5);
    border-left: 2px solid rgba(#dee3e7, 0.5);
  }
}

.greeting-copyright {
  text-align: center;
}

@media (max-width: 900px) {
  .greeting-block {
    margin-top: 100px;
    margin-bottom: 40px;
  }
}


@media (max-width: $mobileDimension) {
  .greeting-authorise-ctn {
    position: static;
    text-align: center;
    margin-top: 10px;
  }


  .greeting-block {
    margin-top: 30px;
  }

  .greeting-block__content {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 420px) {
  .greeting-block {
    width: auto;
    max-width: 380px;
  }
}