//fonts
$btnFontSize: 1rem;
$mainFont: 'Roboto' , sans-serif;
$sansusFont: 'sansus_webissimoregular';
$fontWhiteColor: #fff;
$largeTitleFontSize: 3.93rem;
$titleColor: #474b57;
$secondLevelTitleFontSize: 2.18rem;


//соц кнопки
$socialBlue: #004cd1;

//button
$buttonInitialColor: #0648be;
$buttonHoverColor: #083c96;

//statements
$transitionTime: 0.15s;


//dimensions
$maxBodyWidth: 1740px;
$largeScreenDimension: 1610px;
$mobileDimension: 767px;

//colors
$mainBlue: #083c96;
$beige: #f2f0e8;
$creme: #eae8e2;