.skill-pie {
  position: relative;
  margin-bottom: 30px;
}


.skills-list-row {
  margin: 10px -20px;
}

.skill-pie {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-left: 20px;
}

.skill-pie__text {
  position: absolute;
  left: 25px;
  right: 25px;
  display: flex;
  height: 120px;
  top: 0;
  justify-content: center;
  align-items: center;
  color: #243994;
  font-size: 0.87rem;
  text-align: center;
}

@media(max-width: 1200px) {


  .skills-list-row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .skill-pie {
    margin-right: 15px;
    margin-left: 15px;
  }
}


@media(max-width: $tabletDimension) {
  .skills-list {
    text-align: center;
  }
}