.footer-top {
  background: #1c1f29;
  color: #fff;
  padding: 30px 0;
}

.footer-top-flex {
  display: flex;
  flex-flow: row wrap;

  .footer-top-block:first-of-type {
    padding-left: 0;

  }
  .footer-top-block:last-of-type {
    border-right: none;
  }
}

.footer-top-block {
  flex: 1 1 33.333%;
  padding: 0 30px;
  border-right: 1px solid #64656c;
  box-sizing: border-box;
}

.footer-text, .footer-link {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.footer-text-ctn {
  .footer-text:last-of-type, .footer-link:last-of-type {
    margin-bottom: 0;
  }
}


.footer-text {
  line-height: 1.5;
}


.footer-top-block {
  .social__item {
    color: #9e9fa3;
  }
}


.footer-nav {
  margin-bottom: 40px;

  .footer-nav__item:last-of-type {
    margin-right: 0;
  }

}

.footer-nav__item {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 30px;
  text-decoration: none;
  transition: color ease-out $transitionTime;
}

.footer-copyright {
  background: $mainBlue;
  text-align: center;
  color: #fff;
  font-weight: 300;
  padding: 5px 0 15px 0;
}

.main-footer--transparent {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  .footer-top {
    background: rgba(#1c1f29, 0.85);
  }

  .footer-copyright {
    background: rgba($mainBlue, 0.85);
  }
}

@media (max-width: $tabletDimension) {

  .footer-top-block {
    border-right: none;
    flex-basis: 50%;
    padding: 15px 0 0 0;
  }

  .footer-top-block--tablet-fw {
    flex-basis: 100%;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #64656c;
    text-align: center;
  }

  .footer-top-block--tablet-right {
    text-align: right;
  }

  .footer-top {
    padding: 15px 0;
  }

  .footer-top-flex {
    display: block;

    .footer-top-block:last-of-type {
      border-bottom: none;
    }
  }

  .footer-top-block {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #64656c;
    padding-bottom: 15px;
  }

  .footer-text, .footer-link {
    font-size: 0.87rem;
  }

  .footer-nav {
    margin: 0 -5px 15px -5px;


  }

  .footer-nav__item {
    margin: 0 5px 5px 5px;
    font-size: 0.87rem;
  }

  .mobile-block {
    display: block;
  }

}


@media (min-width: $mobileDimension) {
  .footer-top-block .social__item:hover {
    color: $socialBlue;
  }

  .footer-nav__item:hover {
    color: #ababab;
  }

}