.main-header {
  text-align: center;
  background: url('/assets/img/main-bg.png') no-repeat center center;
  background-size: 1800px 900px;
  min-height: 600px;
  position: relative;
}


.main-header__details {
  margin-top: 80px;
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.burger-ctn {
  color: #fff;
}

.header-page-arrow {
  position: absolute;
  font-size: 20px;
  display: inline-block;
  color: #fff;
  opacity: 0.7;
  transition: color ease-out $transitionTime , opacity ease-out $transitionTime, transform ease-out $transitionTime;
  bottom: 60px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}


.parallax {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  text-align: center;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}



@media (max-width: $mobileDimension ) {
  .main-header__top {
   padding-top: 10px;
  }

  .main-header {
    min-height: 550px;
  }
}

@media (min-width:$mobileDimension ) {
  .header-page-arrow:hover {
    opacity: 1;
    color: $buttonHoverColor;
    transform: translateY(-2px);
  }
}