.main-header {
  text-align: center;
  background: url('../img/main-bg.jpg') no-repeat center center;
  background-size: 1800px 900px;
  min-height: 600px;
  position: relative;
}


.main-header__details {
  margin-top: 80px;
}

.main-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.burger-ctn {
  color: #fff;
  z-index: 2;
  position: relative;
  text-align: center;
  height: 40px;
  width: 40px;
}

.burger-trigger {
  color: #fff;
  font-size: 40px;
  transition: color ease-out $transitionTime;
  text-decoration: none;
}


.burger-trigger.open-started {
  .burger-icon {
    transform: rotate(360deg) scale(0);
  }
}

.burger-trigger.open-finished {
  .burger-icon {
    display: none;
  }

  .header-cross {
    transform: rotate(360deg) scale(1);
  }

}

.burger-trigger.close-started {
  .header-cross {
    transform: rotate(360deg) scale(0);
  }
}


.burger-trigger.close-finished {
  .burger-icon {
    display: block;
    transform: rotate(360deg) scale(1);
  }
}


.burger-icon, .header-cross {
  transition: transform 0.3s ease-out;
  top: 0;
  position: absolute;
  width: 40px;
  text-align: center;
}

.header-page-arrow {
  position: absolute;
  font-size: 20px;
  display: inline-block;
  color: #fff;
  opacity: 0.7;
  transition: color ease-out $transitionTime , opacity ease-out $transitionTime, transform ease-out $transitionTime;
  bottom: 60px;
  left: 50%;
  margin-left: -20px;
  cursor: pointer;
  padding: 10px;
  z-index: 2;
}


.parallax {
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
  text-align: center;
}

.parallax::-webkit-scrollbar {
  display: none;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.header-cross {
  text-decoration: none;
  outline: none !important;
  transform: scale(0);
}

@media (max-width: $mobileDimension ) {
  .main-header__top {
   padding-top: 10px;
  }

  .main-header {
    min-height: 550px;
  }
}

@media (min-width:$mobileDimension ) {
  .header-page-arrow:hover {
    opacity: 1;
    color: $buttonHoverColor;
    transform: translateY(-2px);
  }

  .burger-trigger:hover {
    color: #ababab;
  }

}