extends ../_layouts/layout.pug

block variables
    - var title = 'Блог'
    - var headerTitleLarge = 'Блог'
    - var headerSubtitleText = 'Статьи, которые я написал'
    - var footerClass = 'default'
block content
    div.skew-ctn
        div.skew-block.skew-block--left.skew-block--left-beige
        div.skew-block.skew-block--right.skew-block--right-beige
    div.full-block-ctn.full-block-ctn--beige
        div.site-fixer
            div.blog-content
                div.blog-side-content
                    include ../_chunks/vertical-nav.pug
                div.blog-main-content
                    div.blog-content__item
                        h2.title.title--second-level Самое важное в SASS
                        div.date 22 ноября 2016
                        div.text-block.text-block--blog-modify
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять
                              |важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый
                              | опыт новая модель организационной деятельности играет важную роль в формировании новых
                              | предложений. Товарищи! новая модель организационной деятельности играет важную роль
                              | в формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                              |(специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                              |порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                              |участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                              |Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки
                              |и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                              |процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img(src="/assets/img/code-snippet.png")
                    div.blog-content__item
                        h2.title.title--second-level Приёмы в вёрстке, без которых не обходится ни один сайт
                        div.date 13 ноября 2016
                        div.text-block.text-block--blog-modify
                            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные
                              |задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт
                              |новая модель организационной деятельности играет важную роль в формировании новых
                              |предложений. Товарищи! новая модель организационной деятельности играет важную роль в
                              |формировании систем массового участия.
                            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу
                              |(специалистов) участие в формировании систем массового участия. Идейные соображения высшего
                              |порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов)
                              |участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                              |Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки
                              |и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой
                              |процесс внедрения и модернизации системы обучения кадров, соответствует насущным
                              |потребностям.