extends ../_layouts/greet-layout.pug

block variables
    - var title = 'Добро пожаловать'
    - var customClass = 'greeting-bg'

block content

    div.site-fixer
        div.greeting-ctn
            div.greeting-authorise-ctn
                a.btn.btn--transparent авторизоваться
            div.greeting-block
                div.greeting-block__content
                    div.rounded-photo
                        img.rounded-photo__img(src="/assets/img/profile.jpg")
                    div.title-ctn
                        h2.subtitle Сухов Андрей
                        p.text-regular.text-regular--white Личный сайт веб разработчика
                    include ../_partials/socials.pug
                nav.greeting-nav
                    each link,title in navigation
                        a.btn.btn--flex(href=`${link}`)=title
        div.greeting-copyright
            p.text-regular.text-regular--white © Сухов Андрей | создано с любовью в LoftSchool | 2016