header.main-header
    div.site-fixer
        div.main-header__top
            include ../_partials/socials.pug
            div.burger-ctn
                a.burger-trigger.js-burger-trigger(href="#")
                    i.burger-icon.fa.fa-bars(aria-hidden='true')
                    div.header-cross ×
    div.parallax
        div.parallax__layer.parallax__layer--back
            div.main-header__details
                div.rounded-photo
                    img.rounded-photo__img(src="./assets/img/profile.jpg")
                if headerTitleLarge
                    h1.title.title--white #{headerTitleLarge}
                if headerTitleText
                    h2.subtitle #{headerTitleText}
                    div.text-regular.text-regular--white.text-regular--no-margin #{headerSubtitleText}
        div.parallax__layer.parallax__layer--base
            div.header-page-arrow
                i.fa.fa-chevron-down(aria-hidden='true')